
@{
    ViewBag.Title = "Ingredientes";
    Layout = "~/Views/Administrador/Pagina_Maestra.cshtml";
}


<div class="mdl-cell mdl-cell--10-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone  ">
<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-shadow--8dp animated fadeInDown ">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Ingredientes</h2>
                </div>
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable  projects-table">
                    <thead>
                        <tr>
                           <th class="mdl-data-table__cell--non-numeric">Project</th>
                            <th class="mdl-data-table__cell--non-numeric">Responsible</th>
                            <th class="mdl-data-table__cell--non-numeric">Client contact</th>
                            <th class="mdl-data-table__cell--non-numeric">Deadline</th>
                            <th class="mdl-data-table__cell--non-numeric">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
                            <td class="mdl-data-table__cell--non-numeric">Don't worry, be happy!!!</td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <span class="label label--mini background-color--secondary">Everybody</span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">Contact@happyness.com</td>
                            <td class="mdl-data-table__cell--non-numeric">Yesterday</td>
                            <td class="mdl-data-table__cell--non-numeric">
                               <!--Acciones-->  
                                <button id="Act" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-button--colored-blue modal__trigger" data-modal="#modal">
                                    <i class="material-icons">create</i>
                                </button>
                                <div class="mdl-tooltip mdl-tooltip--large" for="Act">
                                    Actualizar
                                </div>
                                <button id="Elim" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-button--colored-red">
                                    <i class="material-icons">delete</i>
                                </button>
                                <div class="mdl-tooltip mdl-tooltip--large" for="Elim">
                                   Eliminar
                                </div> 
                            </td>
                        </tr>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Don't worry, be happy!!!</td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <span class="label label--mini background-color--secondary">Everybody</span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">Contact@happyness.com</td>
                            <td class="mdl-data-table__cell--non-numeric">Yesterday</td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <!--Acciones-->
                                <button id="Act" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-button--colored-blue modal__trigger" data-modal="#modal">
                                    <i class="material-icons">create</i>
                                </button>
                                <div class="mdl-tooltip mdl-tooltip--large" for="Act">
                                    Actualizar
                                </div>
                                <button id="Elim" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect mdl-button--colored-red">
                                    <i class="material-icons">delete</i>
                                </button>
                                <div class="mdl-tooltip mdl-tooltip--large" for="Elim">
                                    Eliminar
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

    <div class="mdl-card__actions">
    <!-- Boton agregar-->
        <button  class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored-purple mdl-shadow--8dp modal__trigger " style="background-color:#15a2d0;" data-modal="#modal">
            <i class="material-icons">add</i>
        </button>
    </div>
    </div>
</div>
<div id="modal" class="modal modal__bg">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__header">
                <div class="modal__title">
                    <h2 class="modal__title-text">Agregar Ingredientes</h2>
                </div>
            </div>
            <div class="modal__text">
                

                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="firstName" value="Luke"/>
                                    <label class="mdl-textfield__label" for="firstName">First name</label>
                                </div>

                                <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="secondName" value="Skywalker"/>
                                    <label class="mdl-textfield__label" for="secondName">Second name</label>
                                </div>
                            </div>

                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="birthday" value="25 May, 1977"/>
                                    <label class="mdl-textfield__label" for="birthday">Birthday</label>
                                </div>

                                <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                                    <input class="mdl-textfield__input" value="Male" type="text" id="gender" readonly tabIndex="-1"/>

                                    <label class="mdl-textfield__label" for="gender">Gender</label>

                                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu dark_dropdown" for="gender">
                                        <li class="mdl-menu__item">Male</li>
                                        <li class="mdl-menu__item">Female</li>
                                    </ul>

                                    <label for="gender">
                                        <i class="mdl-icon-toggle__label material-icons">arrow_drop_down</i>
                                    </label>
                                </div>
            </div>
            <div class="modal__footer">
                <a class="mdl-button mdl-button--colored mdl-js-button  modal__close">
                    Close
                </a>
            </div>
        </div>
    </div>
</div>
<link href="~/Recursos_Administrador/css/docs.min.css" rel="stylesheet" />
<script src="~/Recursos_Administrador/js/material-modal.min.js"></script>
